* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(31, 30, 30);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 700px;
  height: 500px;
  overflow: hidden;
}
h1 {
  font-size: 26px;
  color: white;
  padding: 0px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 20px;
}
.select-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
select {
  width: 80%;
  font-size: 24px;
  padding: 5px 20px;
  border-radius: 10px;
  border: none;
}
.info-wrapper {
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: space-between;
}
.col1 {
  width: 50%;
}
.col1 img {
  width: 100%;
  height: 100%;
}
.col2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  gap: 10px;
  color: rgb(209, 204, 204);
}
.col2 h3 {
  color: white;
}
